<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trailers</title>
    <style type="text/css">
    .body {
    background-color: black;
    }
    .video-fluid {
  width: 100%;
  height: auto;
  flex: 1;
  position:relative;
  padding: 0%;

    }
    
    </style>
  
</head>
<body class="body">
    <br/>
    <h1 style="text-align: center;">Red Dead Redemption</h1>
    <video class="video-fluid z-depth-1" autoplay loop controls muted>
         <source src="static/videos/red-dead-redemption-2-official-trailer-3.mp4" type="video/mp4" />
     </video>
     
 
</body>
</html>